.not-found {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-not-found {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 100px;
    color: white;
}