<h2 mat-dialog-title>{{title}} Appointment</h2>
<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <mat-select formControlName="status" placeholder="Select Status">
        <mat-option value='CREATED'>Created</mat-option>
        <mat-option value='CLOSED'>Closed</mat-option>
        <mat-option value='CANCELED'>Canceled</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="startTime" type="datetime-local" placeholder="Enter a start time">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="endTime" type="datetime-local" placeholder="Enter an end time">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="medicalProcedureId" placeholder="Medical Procedure">
        <mat-option *ngFor="let mp of medicalProcedures" [value]="mp.id">
          {{mp.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="doctorId" placeholder="Doctor">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
          {{doctor.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isAddDialog()">
      <mat-select formControlName="patientId" placeholder="Patient">
        <mat-option *ngFor="let patient of patients" [value]="patient.id">
          {{patient.firstName + ' ' + patient.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button type="submit" mat-button cdkFocusInitial>{{title}}</button>
    <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
  </mat-dialog-actions>
</form>
